.body {
    background-image: url("./img/Rectangle3.png");
    width: 1900px;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family:"Poppins", sans-serif;
    font-size: 32px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-size: 1920px;
}

@font-face {
    font-family: "Poppins"; 
    src: url("/css/font/Poppins/Poppins-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 